* {
    margin: 0;
    padding: 0;
}

.body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "header header header"
        "nav main main"
        "footer footer footer";
    background-color: #0a0958;

}

.block {
    background-color: red;
    border-top: solid 3px black;
    border: solid 3px blue;
    margin-left: 35%;
    padding: 8px;
    padding-left: 100px;
    width: 280px;
    height: 100px;
    border-radius: 15px;
    font-size: 50px;
    font-family: 'Arvo', serif;
    font-family: 'Joan', serif;
    color: blue
}


.inline {
display:grid;

    background-color: darkgoldenrod;
    border: solid 3px black;
    margin: 20px;
    padding: 15px;
    width: 271px;
    height: 440px;
}

.inline-block {
    background-color: red;
    border-radius: 50;
    border: solid 3px blue;
    display: grid;
    width: 100px;
    height: 55px;
    ;
}





.main {
    display: flexbox;
    /* grid-area: main; */
    background-color: #100886;
    border: solid black;
    color: white;

}

.main img {
    width: 800px;
}

.main div p {
    padding-top: 20px;
}

.main section {
    padding-top: 20px;
}

.logo img {
    max-width: px;
    position: relative;
    margin-left: 0%;
    border: double red;


}

.titularNoticia {
    display: inline-block;
    margin-left: 37%;
    color: white;
    

}



.primeraParte {
    margin-bottom: 50px;

}


.header {
    grid-area: header;
    background-color: #100886;
    background-image: url(https://i.pinimg.com/originals/db/15/5e/db155e9a49acbadb52de0ed7bf1d8ede.png);
    color: black;
    font-size: 20px;
    font-style: oblique;
    margin-bottom: 0px;
    /* background: linear-gradient(90deg, #b113316d 33%, #861b086d 35%, #1008866d 84%, #1008866d 90%); */
}

/* /* .header nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    height: 220px;
    justify-content: space-evenly;
    font-family: 'Arvo', serif;
    font-family: 'Joan', serif; */

/* } */

 .header nav a:hover { 
    background-color: blue;
    transform: scale(130%); 

} 



.header img {
    left: -244px;
    bottom: -321px;
}
/* 
.header h1 {
    color: white;
} */

/* .header nav ul a {
    color: white;
} */
.bg-primary{
    margin-top: 0px;
}
.footer {
    height: 200px;
    grid-area: footer;
    background-color: #0a0958;


}

.footer i {
    font-size: 4rem;
    margin-bottom: 0px;
}

.imagenHinchada {
    margin-left: 75%;
    width: 450px;
    height: 150px;
}

.color {
    font-style: initial;
    font-size: large;
    color: red;
}

.fotoTrofeo {
    margin-left: 30%;
    padding: auto;
}

.span {
    background-color: red;
    border: solid double;
    text-align: center;
    font-family: 'Arvo', serif;
    font-family: 'Joan', serif;


}

.nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid;
    background-color: #b11331;
    font-family: 'Arvo', serif;
    font-family: 'Joan', serif;
 background-color: blue;
    transform: scaleX(150%);
    background: linear-gradient(90deg, #1326b16d 6%, #c9164a6d 27%, #1007866d 86%);

}

.nav li {
    list-style: none;
    padding: 20px;
    height: 30px;

}

.nav li:hover {
    background-color: blue;
    transform: scaleX(150%);
    background: linear-gradient(90deg, #1326b16d 6%, #c9164a6d 27%, #1007866d 86%);



}

nav ul a {
    text-decoration: none;
}



@media (max-width: 375px) {
    .grilla {
        grid-template-areas:
            "nav nav nav"
            "header header  "
            "header footer";

    }

    .container-fluid{
        display: grid;
    }

    .nav ul {
        display: flex;
        flex-direction: column;
    }

    .main {
        flex-direction: column;
    }
max-width: 320px;
max-height: 205px;
}

.main img {
    width: 228px;
}

.div img {
    width: 800px;
}