.main {
    display: flexbox;
    /* grid-area: main; */
    background-color: #100886;
    border: solid black;
    color: white;
    
  }
  
  .main img {
    width: 800px;
  }
  
  .main div p {
    padding-top: 20px;
  }
  
  .main section {
    padding-top: 20px;
  }